<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" th:href="@{/css/main.css}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
		integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<title th:text="#{products}">Products</title>
</head>

<body class="text-center">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
		crossorigin="anonymous"></script>

	<header>
		<div th:insert="~{fragments/header :: copy}"></div>
	</header>

	<div class="sectionMainContent">

			<div class="productsMainFrame">

				<form th:action="@{/products}">
					<div th:if="${productsData.productsData.hasContent()}" class="formFrame">
						<div class="d-flex justify-content-center">
							<select class="custom-select w-25" th:name="filterField">
								<option value="ean"
									th:selected="${#strings.equals(productsData.filterField, 'ean')}  ? 'selected'"
									th:text="#{product.ean}">ean</option>
								<option value="title"
									th:selected="${#strings.equals(productsData.filterField, 'title')}  ? 'selected'"
									th:text="#{product.title}">product title</option>
								<option value="cost"
									th:selected="${#strings.equals(productsData.filterField, 'cost')}  ? 'selected'"
									th:text="#{product.cost}">cost</option>
								<option value="quantityInStore"
									th:selected="${#strings.equals(productsData.filterField, 'quantityInStore')}  ? 'selected'"
									th:text="#{product.quantityInStore}">quantity</option>
								<option value="measure"
									th:selected="${#strings.equals(productsData.filterField, 'measure')}  ? 'selected'"
									th:text="#{product.measure}">measure</option>
							</select>

							<select class="ml-1  custom-select  w-25" th:name="direction">
								<option value="DESC"
									th:selected="${#strings.equals(productsData.direction, 'DESC')}  ? 'selected'"
									th:text="#{descending}">descending</option>
								<option value="ASC"
									th:selected="${#strings.equals(productsData.direction, 'ASC')}  ? 'selected'"
									th:text="#{ascending}">ascending</option>
							</select>
							<button class="btn btn-primary ml-1" type="submit" th:text="#{apply.filters}"></button>
						</div>

					</div>

					<div class="findFrame">

						<div class="d-flex justify-content-center m-4">
							<div class=" input-group">
								<input type="text" class="form-control" th:placeholder="#{input.partof.ean.or.title}"
									aria-describedby="basic-addon1" name='searchQuery'
									th:value="*{productsData.searchQuery}">
								<div class="input-group-append">
									<button class="btn btn-primary" type="submit" th:text="#{find}">Find </button>
								</div>
							</div>
						</div>

					</div>

				</form>
			</div>

			<div th:if="${productsData.productsData.hasContent()}" class="m-xl-5 d-flex justify-content-center">

				<div style="text-align:left;">
					<table class="table table-hover">
						<thead class="thead-light">
							<tr>

								<th th:text="#{product.ean}">Ean</th>
								<th th:text="#{product.title}">Title</th>
								<th th:text="#{product.cost}">Cost</th>
								<th th:text="#{product.store}">Quantity</th>
								<th th:text="#{product.measure}">Measure</th>
								<th th:text="#{action}">Action</th>
							</tr>
						</thead>

						<tbody>



							<tr scope="row" th:each="productData: ${productsData.productsData}"
								sec:authorize="hasAnyAuthority('CASHIER')">
								<td th:text="${productData.ean}" />
								<td th:text="${productData.title}" />
								<td th:text="${productData.cost}" />
								<td th:text="${productData.quantityInStore}" />
								<td th:text="${productData.measure}" />
								<td>
									<a th:href="@{/products/sale/{ean}(ean=${productData.ean})}"
									 class="btn btn-primary" role="button" aria-pressed="true">+</a>
								</td>


							</tr>


							<tr scope="row" th:each="productData: ${productsData.productsData}"
								sec:authorize="hasAnyAuthority('COMMODITY_EXPERT')">
								<td th:text="${productData.ean}" />
								<td th:text="${productData.title}" />
								<td th:text="${productData.cost}" />
								<td th:text="${productData.quantityInStore}" />
								<td th:text="${productData.measure}" />
							</tr>
						</tbody>
					</table>
				</div>

			</div>

			<div th:if="${productsData.productsData.hasContent()}" class="m-xl-5 d-flex justify-content-center">
				<div th:if="${productsData.productsData.hasContent()}">

					<nav>
						<ul class="pagination flex-wrap" th:with="pageUrlPrefix = '/products?filterField=' + 
					${productsData.filterField} + '&amp;direction=' 
					+ ${productsData.direction} + '&amp;searchQuery=' 
					+ ${productsData.searchQuery}">
							<li th:class="${!productsData.productsData.isFirst() ? 'page-item' : 'page-item disabled'}">
								<a th:href="@{${pageUrlPrefix}(page='1 ')}" class="page-link"><b>&laquo;</b></a>
							</li>

							<li th:class="${!productsData.productsData.isFirst() ? 'page-item' : 'page-item disabled'}">
								<a th:href="@{${pageUrlPrefix}(page=${productsData.productsData.getNumber()})}"
									class="page-link"><b>‹</b></a>
							</li>


							<li th:each="i: ${#numbers.sequence(1, productsData.productsData.getTotalPages())}"
								th:class="${productsData.productsData.getNumber()+1 != i ? 'page-item' : 'page-item active'}">
								<a th:href="@{${pageUrlPrefix}(page=${i})}" class="page-link">[[${i}]]</a>
							</li>


							<li th:class="${!productsData.productsData.isLast() ? 'page-item' : 'page-item disabled'}">
								<a th:href="@{${pageUrlPrefix}(page=${productsData.productsData.getNumber()+2})}"
									class="page-link"><b>›</b></a>
							</li>

							<li th:class="${!productsData.productsData.isLast() ? 'page-item' : 'page-item disabled'}">
								<a th:href="@{${pageUrlPrefix}(page=${productsData.productsData.getTotalPages()})}"
									class="page-link"><b>&raquo;</b></a>
							</li>
						</ul>

					</nav>
				</div>

			</div>



		

		<div class="m-xl-5 d-flex justify-content-center" th:if="${!productsData.productsData.hasContent()}">
			No products
		</div>



	</div>

	<div class="m-xl-5 d-flex justify-content-center" sec:authorize="hasAnyAuthority('COMMODITY_EXPERT')">

		<a th:href="@{/products/new}">

			<div class="btn btn-primary my-2 my-sm-0" th:text="#{product.add}">No products for sale</div>
		</a>

	</div>








	<footer>
		<div th:insert="~{fragments/footer :: copy}"></div>
	</footer>
</body>


</html>